@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.parallax {
    position: relative;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    
}
.parallax .parallaxLayer {
  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
.background{
    background: white;
}
.backgroundImages {
    transform: translateZ(-0.25px);
    width: 100%;
}
.main {
    transform: translateZ(0px);
    font-family:'Poppins', sans serif;
}


img.backgroundimgleft{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.3;
  position: relative;
  left: 0px;
}

img.backgroundimgright{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.3;
  position: relative;
  left: 50%;
}

img.backgroundimgcenter{
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 0.3;
  float: center;
  padding-bottom: 20px;
}

.learn-sidebar {
    width: max(15%, 50px);
    position: fixed;
    list-style-type: none;
  }
  
  .learn-sidebar .learn-link {
    padding: 6px;
  }
  
  .learn-link a {
    color: black;
    padding: none;
    font-weight: 700;
    text-decoration: none;
  }
  
  .learn-link a.active {
    color: yellow;
  }
  
  .learn-link a:hover {
    color: yellowgreen;
  }
  
  .learn-article {
      float: left;
    margin-left: 15%;
    width: 60%;
    padding: 4px 4px;
  }
  
  .learn-main-text {
    /*text-shadow: 2px 2px 2px lightgrey;*/
  }
  
  .learn-descriptor {
    padding: 60px;
    opacity: 50%;
    background-color: lightgrey;
  }
  .learn-flipCardContainer {
      float: right;
      
      padding: 8px 8px;
  }