ul {
    width: 25%;
    position: fixed;
    height: 100%;
    list-style-type: none;
}
ul li{
    padding: 12px;
}  
li a{
    color: darkgrey;
    padding: none;
    text-decoration: none;
}
li a.active{
    color: yellow;
}
li a:hover {
  color: yellowgreen;
}
article {
    margin-left:25%;
    padding:16px 16px;
}
h1{
    text-shadow: 2px 2px 2px lightgrey;
}
h3 {
    padding: 100px;
    background-color: lightgrey;
}
footer {
    padding: 100px;
}